
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body> 

<!-- Navbar -->
<!-- <div class="w3-top">
  <div class="w3-bar w3-light-grey w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-blue w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a routerLink="/" href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue">Home</a>
    <a routerLink="/testroutes" href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue">Test Routes</a>
    <a routerLink="/account" href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue">My Account</a>
    <a routerLink="/details" href="#" class="w3-bar-item w3-button w3-padding-large w3-blue w3-hover-blue">Details</a>
    <a routerLink="/adminsonly" href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue">Admin</a>
  </div>

  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a routerLink="/testroutes" href="#" class="w3-bar-item w3-button w3-padding-large">Test Routes</a>
    <a routerLink="/account" href="#" class="w3-bar-item w3-button w3-padding-large">My Account</a>
    <a routerLink="/details" href="#" class="w3-bar-item w3-button w3-padding-large">Details</a>
    <a routerLink="/adminsonly" href="#" class="w3-bar-item w3-button w3-padding-large">Admin</a>
  </div>
 </div>  -->

<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">About us!</h1>
    <div align=center>
        <img src="https://www.maxpixel.net/static/photo/1x/Business-Finance-Currency-Money-Dollar-Cash-1924523.png" width="120" height="140" alt="logo">
    </div>
    <a (click)="prevHandler()" class="previous" style="position: relative; left: -110px; top: -80px;">&laquo; Previous Page </a>
    <a (click)="nextHandler()" class="next" style="position: relative; left: 80px; top: -80px;">Next Page &raquo;</a>
  </header>

<!-- Header 
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Some Details</h1>
  <div align=center>
      <img src="https://user-images.githubusercontent.com/10379994/31985754-c56b8dba-b998-11e7-9705-a7f984433049.png" width="160" height="120" alt="vscode">
  </div>
 <a (click)="prevHandler()" class="previous" style="position: relative; left: -15px; top: -95px;">&laquo; Previous</a>
 <a (click)="nextHandler()" class="next" style="position: relative; left: 160px; top: -95px;">Next &raquo;</a>
  <button routerLink="/login" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" style="position: relative; left: -90px; top: 20px;">Login</button>
</header>
-->


<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
    </div>
    <img _ngcontent-c2="" alt="Banner" class="center" src="https://upload.wikimedia.org/wikipedia/commons/3/37/Denver_Colorado_Panorama.jpg" style="position: relative; left: -336px; top: 3px; transition: none 0s ease 0s; cursor: move;" data-selected="true" data-label-id="0">
    <div class="w3-third w3-center">
      <!-- <i class="fa fa-anchor w3-padding-64 w3-text-blue"></i> -->
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
        <img _ngcontent-c2="" align="left" height="280" src="https://s3.amazonaws.com/peoplepng/wp-content/uploads/2018/06/08112553/Stock-Market-PNG-HD-1024x1024.png" style="position: relative; left: -20px; top: 69px; transition: none 0s ease 0s; cursor: move;" width="300" data-selected="true" data-label-id="0">
    </div>

    <div class="w3-twothird">
      <h1>Get to know us</h1>
      <h5 class="w3-padding-32">It isn't just about the money, it's about creating a community that promotes and believes in financial success for everyone.</h5>

      <p class="w3-text-grey">Money Watchers Inc. is a Denver-based startup founded by six like-minded college students who want to achieve financial greatness.
                              The idea started with a conversation between the current team about how we could make our mark in the world of stock markets, and leverage the information 
                              available to create something fundamentally useful for traders. Not only will you enjoy the service we provide, but you'll also obtain the ability to learn 
                              from individuals all around the world who can provide insight on the topics you care about. As we aim to be the forerunner in the stock market blogging community,
                              we hope you'll take the leap to help us build the best community, connections, and memories alike. 
      </p>
        
    </div>
  </div>
</div>

<!-- Third Grid -->
<!-- Add social media stickers at the bottom of the page -->
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: "The first step is to establish that something is possible; then probability will occur." - Elon Musk</h1>
 
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
    <div class="w3-xlarge w3-padding-32">
        <div class="w3-xlarge w3-padding-32">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
         </div>
  
   </div>
  </footer>

</body>






