
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

<div class="w3-top w3-black">
    <div id="nav">
        <a class="w3-bar-item w3-large w3-hide-small w3-padding-large" style="top: 10px; " type="login">Logged In As: 
          <!-- dev -->
          <span style="color: red"> {{account[0]}} </span></a>
          <!-- guest -->
          <!-- <span style="color: yellow"> {{account[1]}} </span></a> -->
          <!-- user -->
          <!-- <span style="color: green"> {{account[1]}} </span></a> -->
    </div>
  <div class="w3-bar w3-light-grey w3-card w3-left-align w3-large" id=nav>
    <a routerLink="/" class="w3-bar-item w3-button w3-padding-large w3-hover-blue" type=nav>Home</a>
    <a routerLink="/feed" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue" type="nav">Blog Feed</a>
    <a routerLink="/contribute" class="w3-bar-item w3-button w3-padding-large w3-hover-blue" type="nav">Contribute</a>
    <a routerLink="/account" class="w3-bar-item w3-button w3-padding-large w3-hover-blue" type="nav">My Account</a>
    <a routerLink="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue" type="nav">About Us</a>
    <a routerLink="/contact" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue" type="nav">Contact Us</a>
    <a (click)="adminClick()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue" type="nav">Admin</a>
    
    <form align=right class="form-inline my-2 my-lg-0">
      <button class="btn btn-success my-2 my-sm-0 w3-hover-white" type="submit">Login</button>
    </form>
  </div>
</div>



