<div class="w3-top">
  <div class="w3-bar w3-light-grey w3-card w3-left-align w3-large" id=nav>
    <div *ngIf="this.router.url === '/'" class=w3-blue></div>
    <a routerLink="/" class="w3-bar-item w3-button w3-padding-large w3-hover-light-grey" id=nav type=nav>Home</a>
    <a routerLink="/testroutes" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-light-grey" type="nav">Test Routes</a>
    <a routerLink="/account" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-light-grey" type="nav">My Account</a>
    <a routerLink="/details" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-light-grey" type="nav">Details</a>
    <a routerLink="/adminsonly" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-light-grey" type="nav">Admin</a>
    <form align=right class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password">
      <button class="btn btn-success my-2 my-sm-0 w3-hover-light-grey" type="submit">Login</button>
    </form>
  </div>
</div>