iframe {
    display: block;
    width: 800px;
    height: 400px;
    border: 0;
    align-content: middle;
}
.clicked{
    height:50px;
    width:200px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
  }
  
  .next {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
    cursor: pointer;
  }
  
  .round {
    border-radius: 50%;
  }
  
