<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

<!-- This handles when the requested string is sent. Decides which data is displayed and how -->
<form (submit)="onSubmit()" align="center">
    <p class="w3-margin w3-jumbo">Enter the hashtag you would like data for (without #)</p>
    <p class="w3-margin">*Twitter data is only available for AAPL, MSFT, TSLA, NFLX, and TEVA*</p>
    <p class="w3-margin">*Please note that the data is designed to only show top hashtags in the past 24 hours*</p>
    <input [(ngModel)]="hashTagName" class="form-control mr-sm-2 ng-pristine ng-valid ng-touched" name="hashtag" style="position: relative; left: -46px; top: 0px;" type="twitter" ng-reflect-name="hashtag">
    <button (clicl)="getHashtags()" class="mr-sm-2 w3-hover-white" id="twitter" style="position: absolute; left: 1007px; top: 926px;">Submit</button>
    <div *ngIf="hashTagName != 'AAPL' || 'MSFT' || 'TSLA' || 'NFLX' || 'TEVA' || 'TSLA'">
        <a class="w3-margin" style="color:red">{{errorMessage}}</a>
    </div> 
    <div align=center *ngIf="selectedHashtag">
        <a class="w3-margin" style="color:green">{{selectedHashtag}}</a><p></p>
        <p></p>
        
                <p class="w3-margin">Hashtag Selected: {{twitterObject.Hashtag}}</p>
                <p class= "w3-maring">Volume of tweets for {{twitterObject.Hashtag}} in the last 24 hours: {{twitterObject.Volume}}</p>
       
        <iframe src="https://giphy.com/embed/xUPGcEOEllmvFAvako" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>
                <ul>
                        <li *ngFor="let hashtag of tValues" >
                          -- hashtags: {{hashtag}}
                        </li>
                      </ul> 
    </div> 
</form>