<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

<form (submit)="onSubmit()" align="center">
    <p>Enter the hashtag you would like data for (without #)</p>
    <p>
        <input type = "twitter"
               id = "twitterBox" />
               <button (click)="getHashtag()" class="mr-sm-2 w3-hover-white" style="position: absolute;" id="twitter">Submit</button>
    </p>
    <div align=center *ngIf="selectedHashtag">
            <a class ="w3-margin" style="color:cornflowerblue">{{selectedHashtag}}</a><p></p>
            <iframe src="https://giphy.com/embed/xUPGcEOEllmvFAvako" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>
    </div>
</form>
