<form action="action_page.php">
  <div class="container">
    
    <hr>
    <hr>
    <h1>Register</h1>
    <p>Create your account on this page to start using our state of the art service.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <p></p>
    <input type="text" placeholder="Enter Email" name="email" required>
    <p></p>
    <label for="psw"><b>Password</b></label>
    <p></p>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <p></p>
    <label for="psw-confirm"><b>Confirm Password</b></label>
    <p></p>
    <input type="password" placeholder="Confirm Password" name="psw-confirm" required>
    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="login">Sign in</a>.</p>
  </div>

 
</form>