.clicked{
    height:50px;
    width:200px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
  }
  
  .next {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
    cursor: pointer;
  }
  
  .round {
    border-radius: 50%;
  }
  input[type=text], select {
    padding: 6px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 45px;
  }
  input[type=password], select {
    padding: 6px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 45px;
  }
  a[type=login] {
    border: 1px solid rgb(33, 150, 243);
    border-radius: 4px;
    color: white;
    padding: 6px 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
