input[type=ticker]{
    padding: 6px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid rgb(33, 150, 243);
    border-radius: 4px;
    box-sizing: border-box;
    height: 45px;
    width: 100px;
  }
  #ticker {
    padding: 6px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid rgb(33, 150, 243);
    background-color: rgb(33, 150, 243);
    border-radius: 4px;
    box-sizing: border-box;
    height: 45px;
    width: 100px;
    color: white;
    cursor: pointer;
  }
  button {
    font-family: "Montserrat", sans-serif
}
ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  width: 300px;
}

ul li:last-child {
  border-bottom: none
}