
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo" type="nocursor">Market Watchers Inc.</h1>
  <div align=center>
      <img src="https://www.maxpixel.net/static/photo/1x/Business-Finance-Currency-Money-Dollar-Cash-1924523.png" width="120" height="140" alt="logo">
  </div>
 <a (click)="prevHandler()" class="previous" style="position: relative; left: -110px; top: -80px;">&laquo; Previous Page </a>
 <a (click)="nextHandler()" class="next" style="position: relative; left: 80px; top: -80px;">Next Page &raquo;</a>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <!-- <app-chart></app-chart> -->
    <!-- Implements the ticker-search component -->
    <app-ticker-search></app-ticker-search> 
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
        <img _ngcontent-c2="" align="left" height="280" src="https://png2.kisspng.com/sh/5ad22bb81929c44cc660d1e00a0bb40c/L0KzQYm3VcE3N6l0fZH0aYP2gLBuTgNwa5pmhJ92ZXTscX79ifRmd151itHtdXP3ebF1TfNwdaF6jNd7LXnmf7B6TglwfaV6RdDqbXXzfLL7hb02aZdoe9g9M0jmRrO9Ur4zQGE5TqIDM0G4Qoe8Ucc2P2I6T6c7LoDxd1==/kisspng-social-media-video-production-computer-icons-youtu-nameplate-5afccf438c6b62.2804608315265175715752.png" width="300" data-selected="true" data-label-id="0" style="position: relative; left: -18px; top: 49px; transition: none 0s ease 0s; cursor: move;">
    </div>

    <div class="w3-twothird">
      <h1>We lend a hand with investing</h1>
      <h5 class="w3-padding-32">You have stumbled upon the top tool in the stock market community for beginner and advanced investors alike!</h5>

      <p class="w3-text-grey">At Market Watchers we believe that anyone can be a great investor. Our service will allow users to leverage
        tools that can provide information related to the stock data that they are most interested in. If you have ever been intimidated by the stock
        market and how it works, this is your one stop shop for building confidence in your ability to make educated decisions for your investment portfolio.
        Please, take the time to look around and become part of a community that can put you on the right track to success! 
      </p>
    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
  <div align=middle>
    <!-- we can bind this attribute data by wrapping it 
    in square brackets (this button disables after 10 clicks) -->
    <!-- <p>Total Clicks: {{count}}</p>
    <button class="clicked" [disabled]="clicked" (click)="onClick()">
      Click Me!
    </button>
    <p></p>
    <p></p>
    <p></p><p></p><p></p><p></p> -->
  </div>
  </div>

<!-- Footer -->
<!-- Add social media stickers at the bottom of the page -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
      <div class="w3-xlarge w3-padding-32">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-snapchat w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
       </div>

 </div>
</footer>

</body>








